@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@Html.ActionLink("Create Contact    ", "CreateContact", "Home", null, null)
@{
    <!--linkText, actionName, controllerName, routeValues, htmlAttributes-->
    //Html.ActionLink("Details", "CreateContact", "Home", new { id = 1 }, null)

}