<h3>How to View your Reported Incidents:</h3>
<ol>
    <li> Login to your account at @Html.ActionLink("Contoso Mortgages", "Index", "Home", new { }, null). </li>
    <li> Along the website's main menu bar located at the top of page, select @Html.ActionLink("My Account", "Index", "Mortgage", new { }, null) . </li>
    <li> A list of your reported Incidents and their respective information are listed under "Cases". </li>
</ol>
                