<h3>How to View your Reported Incidents:</h3>
<ol>
    <li> Login to your account at @Html.ActionLink("Contoso Mortgages", "Index", "Home", new { }, null). </li>
    <li> Along the website's main menu bar located at the top of page, select @Html.ActionLink("My Account", "Index", "Mortgage", new { }, null) . </li>
    <li> A list of your next payments for each of your mortgages and their respective information are listed under "Upcoming Payments". </li>
    <li> The payment information tells you which mortgage it applies to, the amount owed, and the due date. </li>
    <li> You can make a payment by clicking the "Pay Now" button for the corresponding payment. </li>
</ol>
               