<h3>How to Apply for a Mortgage:</h3>
<ol>
    <li> Login to your account at @Html.ActionLink("Contoso Mortgages", "Index", "Home", new { }, null). </li>
    <li> Along the website's main menu bar located at the top of page, select @Html.ActionLink("Apply for Mortgage", "NewMortgage", "Mortgage", new { }, null) . </li>
    <li> Mortgage Fields: </li>
    <ol>
        <li> <b>Name</b>: The name can be anything you like that helps you reference the mortgage. </li>
        <li> <b>Region</b>: Specify the region in which you live. </li>
        <li> <b>State</b>: This field only appears if you selected 'US' as the region. If you live in the US, please specify which State you live in. </li>
        <li> <b>Amount</b>: Specify the mortgage amount in US Dollars. </li>
        <li> <b>Term (Years)</b>: Specify the term of the mortgage, the options are 10, 15, 20, and 30 year mortgages. </li>
    </ol>
</ol>
              